body
{
    font-size::22px
}
h1
{
    position: sticky;
    top:20px;
    background-color:gray;
}
.logo
{
    /*width:200px;
    height:200px;*/
    position:fixed;
    left:300px;
    top:50px;
    z-index:-1;
    filter: blur(50px);
}